<div class='forgot-password'>
  <form action='/api/sessions/reset-password' method='post'>
    <div class='content'>
      <h2>Change your Password!</h2>
      <div class='form'>
        <div class='inputBox'>
          <input type='password' minlength='6' name='password' required> <i>New Password</i>
        </div>
        <div class='inputBox'>
          <input type='password' minlength='6' name='repeatPassword' required> <i>Repeat Password</i>
        </div>
        <div class='inputBox'>
          <input type='submit' value='Confirm'>
        </div>
      </div>
    </div>
    <input type='hidden' name='token' value='{{token}}'>
  </form>
</div>